{% extends 'homepage.html' %}
{% load static %}
{% block home %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Shippping address</h3>
							</div>
							<form action="" method="post">
								{% csrf_token %}
							<div class="form-group">
								<input class="input" type="text" name="full-name" placeholder="Full Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="country" placeholder="Country">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zip-code" placeholder="Pin Code">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="phone" placeholder="Mobile">
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
									<div>
										<img src="{{item.product.image.url}}" alt="{{item.product.title}}" height="200px" class="container-fluid justify-content-center ">
									</div>
								</div>
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>PRICE</strong></div>
								<div><strong>QUANTITY</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col">
									<div>{{item.product.title}}</div>
									<div>&#8377; {{item.product.price}}</div>
									<div>{{item.quantity}}</div>
								</div>
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">&#8377; {{item.total_amount}}</strong></div>
							</div>
						</div>	
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<button class="primary-btn order-submit">Place order</button>
					</div>
					<!-- /Order Details -->
					</form>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock home %}