{% extends 'homepage.html' %}
{% block home %}
    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- STORE -->
                <div id="store" class="col-md-12">

                    <!-- store products -->
					<div class="row">
                        {% for i in products %}
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="{% url 'pdet' i.id %}" class="card-link">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="{{i.image.url}}" alt="" height="200px">
                                        {% if i.status == 'new' %}
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                        {% endif %}
                                        {% if i.status == 'top selling' %}
                                        <div class="product-label">
                                            <span class="new">Top Selling</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                    </a>
                                    <div class="product-body">
                                        <p class="product-category">{{i.category}}</p>
                                        <h3 class="product-name">{{i.title}}</h3>
                                        <h4 class="product-price">&#8377; {{i.price}} <del class="product-old-price">&#8377; {{i.oldprice}}</del></h4>
                                        <div class="product-btns">
                                            <a class="add-to-wishlist" href="{% url 'wadd' i.id %}" ><i class="fa fa-heart-o"></i></a>
                                        </div>
                                    </div>
                                    <form action="{% url 'pdet' i.id %}">
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa-solid fa-bag-shopping"></i> Buy Now</button>
                                    </div>
                                    </form>
                                </div>
                            
                        </div>
                        {% endfor %}
                    </div>

                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                       <ul class="store-pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                            {% endif %}
                            
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="active">{{ num }}</li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>

                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
        </div>
    </div>
    <!-- /SECTION -->
{% endblock home %}


