{% extends 'homepage.html' %}
{% block home %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{product.title}}</h2>
							<div>
								<h3 class="product-price">&#8377; {{product.price}} <del class="product-old-price">&#8377; {{product.oldprice}}</del></h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>{{product.desc}}</p>

							<div class="product-options">
							<div class="add-to-cart">
								<div class="qty-label">
									Qty
									<form action="{% url 'cprod' id=product.id %}" method="post">
										{% csrf_token %}
										<div class="input-number">
										<input type="number" class="form-control w-25 " min="1" max="10" value="1" name="qty">
										</div>
									<!-- <div class="add-to-cart"> -->
										<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
					
									</form>
									</div>
								</div>	
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
							</ul>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="{% url 'plink' '{{product.category}}' %}">{{product.category}}</a></li>
							</ul>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<div class="tab-nav">
								<h4>Reviews <span>({{r_count}})</span></h4>
							</div>
							<!-- /product tab nav -->
								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												{% if review %}
													<ul class="reviews">
														{% for review in review %}
														<li>
															<div class="review-heading">
																<h5 class="name">{{ review.user.username }}</h5>
																<p class="date">{{ review.date }}</p>
															</div>
															<div class="review-body">
																<p>{{ review.content }}</p>
															</div>
														</li>
														{% endfor %}
													</ul>
												{% else %}
													<div class="review-body">
														<p>No reviews available.</p>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form action="{% url 'revadd' product.id %}" method="post">
													{% csrf_token %}
													<textarea class="input" placeholder="Your Review" name="user-review"></textarea>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>
            <!-- product -->
            {% for i in page_obj %}
            <div class="col-md-3 col-xs-6">
                <a href="{% url 'pdet' i.id %}" class="card-link">
                    <div class="product">
                        <div class="product-img">
                            <img src="{{ i.image.url }}" alt="" height="180px">
                            {% if i.status == 'new' %}
                            <div class="product-label">
                                <span class="new">NEW</span>
                            </div>
                            {% endif %}
                            {% if i.status == 'top selling' %}
                            <div class="product-label">
                                <span class="new">Top Selling</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{ i.category }}</p>
                            <h3 class="product-name">{{ i.title }}</h3>
                            <h4 class="product-price">&#8377;{{ i.price }} <del class="product-old-price">&#8377;{{ i.oldprice }}</del></h4>
                            <div class="product-rating">
                                <!-- Add rating stars if needed -->
                            </div>
                            <div class="product-btns">
                                            <a class="add-to-wishlist" href="{% url 'wadd' i.id %}" ><i class="fa fa-heart-o"></i></a>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa-solid fa-bag-shopping"></i> Buy Now</button>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- /product -->
        </div>
        <!-- /row -->
		<div class="store-filter clearfix"></div>
                       <ul class="store-pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                            {% endif %}
                            
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="active">{{ num }}</li>
                                {% else %}
                                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>

                    </div>
    </div>
    <!-- /container -->
</div>
		<!-- /Section -->
{% endblock home %}
